/* =================================== */
/*  Basic Style 
/* =================================== */
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Tajawal', sans-serif;
    color: #212529;
    background-color: #fff;
    font-size: 18px;
    line-height: 1.625em;
    font-weight: 500;
    position: relative;
}
b { color: #ff4d42;}
ol, ul {
    margin: 0;
    padding: 0;
    list-style: none; }

select {display: block; }

p,
figure { margin: 0; }


iframe { border: 0; }
a,
:after,
:before,
.transition {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}

button:focus,button.focus,
a, a:focus, a:hover {
    text-decoration: none;
    outline: 0; }

.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn.focus:active,
.btn:active:focus,
.btn:focus {
    text-decoration: none;
    outline: 0; }


.btn_1, .btn_2 {
    display: inline-block;
    padding: 18px 60px;
    border-radius: 50px;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    margin-top: 45px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background: #ff4d42;
    font-weight: 500;
    letter-spacing: 1px;
}
.btn_2 {
    background: #0f0f0f;
}
.btn_1:hover, .btn_2:hover {
    color: #ff4d42;
    background-color: #fff;
}
.btn_2:hover {
    color: #fff;
    background-color: #ff4d42;
}

h1, h2, h3,
h4, h5, h6 {
    line-height: 1.2em;
    margin-bottom: 0;
    margin-top: 0;
}


h1, .h1 { font-size: 36px; }

h2, .h2 { font-size: 30px; }

h3, .h3 { font-size: 24px; }

h4, .h4 { font-size: 18px; }

h5, .h5 { font-size: 16px; }

h6, .h6 { font-size: 14px; }

.clear::before,
.clear::after  { content: " "; display: table; }

.clear::after { clear: both; }
.section-padding {
    padding: 70px 0;
}
.section-title {
    margin-bottom: 80px;
    text-align: center;
}
.section-title h2 {
    margin-bottom: 6px;
    font-weight: 700;
    font-size: 35px;
    color: #0f0f0f;
}
.section-title span {
    position: relative;
    height: 5px;
    width: 30px;
    background: #ff4d42;
    border-radius: 10px;
    margin-right: calc(50% - 27px);
    display: block;
}
.section-title span::before,
.section-title span::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    background: #ff4d42;
    border-radius: 10px;
    left: -60%;
    top: 0;
}
.section-title span::before {
    width: 50%;
    left: -60%;
}
.section-title span::after {
    width: 25%;
    left: -100%;
}

/* main menu */
.menu_fixed {
    position: fixed;
    z-index: 9999 !important;
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgb(0 0 0 / 5%);
    top: 0;
}

.main_menu .sub_menu {
    background-color: #0f0f0f;
    padding: 14px 0px;
}
.main_menu  .sub_menu_right_content a,
.main_menu  .sub_menu_right_content div {
    color: #fff;
    display: inline-block;
}

.dropdown-item {
    font-weight: bold;
    color: #ff4d42;
}
.dropdown-item:hover {
    color: #212529;
}
.sub_menu .sub_menu_right_content span {
    color: #757785;
    margin: 0px 20px;
}
.sub_menu .sub_menu_right_content i {
    color: #8dd3cc;
    margin-left: 13px;
    font-size: 40px;
}
.sub_menu .sub_menu_social_icon a {
    color: #8dd3cc;
    margin-left: 50px;
    font-size:0
}
.sub_menu .sub_menu_social_icon a i {
    font-size: 40px;
}

.main_menu .navbar-brand {
    padding-top: 0;
    margin-right: 0;
    margin-left: 1rem;
}
.main_menu .navbar {
    padding: 0px;
}
.main_menu .main-menu-item ul li .nav-link {
    color: #2f373d;
    font-size: 18px;
    padding: 30px 20px;
    font-weight: bold;
}
.main_menu .main-menu-item ul li .nav-link:hover {
    color: #ff4d42;
}


.dropdown .dropdown-menu {
    transition: all 0.5s;
    transform-origin: top center;
    transform: scale(1, 0);
    display: block;
    margin-top: 0px;
    border: 0px solid rgba(0, 0, 0, 0.15) !important;
    background-color: #fafafa;
    overflow-y:scroll;
    height:400px;
    scroll-behavior: smooth;
    scrollbar-width: thin;

}

.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.dropdown .dropdown-menu {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
.dropdown-item {
    text-align: right;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.dropdown:hover .dropdown-menu {
    transform: scale(1);
}
.navbar-toggler:focus, .navbar-toggler:hover {
    text-decoration: none;
}

/* banner art */
.banner_part {
    height: 880px;
    position: relative;
    overflow: hidden;
    background-image: url(../img/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 1;
    border-radius: 0% 0% 50% 50% / 0% 0% 7% 7%;
}
.banner_part:after {
    position: absolute;
    left: 0;
    top: 0;
    content: "";
    width: 100%;
    height: 100%;
    /*background-color: #0f0f0f;*/
    z-index: -1;
    border-radius: 0% 0% 50% 50% / 0% 0% 7% 7%;
}
.banner_part .banner_text {
    display: table;
    width: 100%;
    height: 880px;
}
.banner_part .banner_text .banner_text_iner {
    display: table-cell;
    vertical-align: middle;
}
.banner_part .banner_text h5 {
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
}
.banner_part .banner_text h5 span {
    color: #ff4d42;
}
.banner_part .banner_text h1 {
    font-size: 90px;
    line-height: 1;
    text-transform: uppercase;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
    margin-top: 28px;
}
.banner_part .banner_text h1 span{color: #ff4d42}
.banner_part .banner_text h1 + div {
    font-size: 45px;
    font-weight: 400;
    color: #fff;
    line-height: 1.2;
}
.banner_part .banner_text .btn_1 {
    margin-top: 45px;
}

/* Services area */

.single-service {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, .20), 0 6px 20px 0 rgba(0, 0, 0, .19);
    background: #0f0f0f;
    border-radius: 15px;
    overflow: hidden;
}
.single-service .service-description {
    padding: 40px 20px;
}
.single-service .service-description h2 {
    color: #ff4d42;
    font-weight: 700;
}
.single-service .service-description p{
    color: #fff;
}
.single-service .service-description .sub_menu_social_icon a {
    font-size: 40px;
    margin-left: 40px;
}


/* About Section */
.about-area .about-img img {
    border-radius: 80px 0;
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.about-area .subheading {
    font-size: 14px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 0 10px;
    background: #0f0f0f;
    text-transform: uppercase;
    color: #fff;
}



/*  Gallery Area */

/* Make the image fully responsive */
.gallery-area .carousel-inner img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
.gallery-area .carousel-caption {
    background: rgba(23, 28, 58, .7);
}

.gallery-area .carousel-indicators .active {
    background: #ff4d42;
}
/* Blog Area */

.blog-area .blog-img img {
    border-radius: 0 70px;
}

.blog-column {
    padding-left: 30px;
}
.blog-column .media-body small {
    display: block;
    font-weight: bold;
    color: #ff4d42;
    padding: 4px 0px;
    font-size: 14px;
}
.blog-column .media-body small i {
    padding-left: 8px;
    color: #90acd1;
}
.media .media-body {
    padding-right: 30px;
}
.media .media-body h4 {
    font-weight: 600;
}
.media {
    margin-bottom: 30px;
}
.media:last-child {
    margin-bottom: 0;
}

/* Footer Area */
.footer-area {
    padding: 100px 0 !important;
    background: #0f0f0f;
}
.footer-area .footer-logo h4 {
    font-size: 21px;
    color: #ccc;
    font-weight: 700;
    margin-top: 48px;
}
.footer-area .footer-social {
    margin: 25px 0px 50px;
}
.footer-area .footer-social a {
    padding: 0 20px;
    font-size:0
}
.footer-area .footer-social a i {
    color: #fff;
    font-size: 36px;
}
.footer-area .footer-social a i:hover {
    color: #8ad0c6;
}
.footer-area .footer-bottom p {
    margin-bottom: 0;
    color: #fff;
}
.footer-area .footer-bottom a {
    color: #8dd3cc;
}
/* whatsapp */
button {
    cursor: pointer;
    all: unset;
}

.whats-btn,
.footer-social button {
    all: unset !important;
}
button i {
    color: #01e675 !important;
}

/* Blog Page */
.breadcrumb {
    margin-bottom: 0px !important;
    position: relative;
    z-index: 1;
}
.breadcrumb:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /*background-color: #8dd3cc;*/
    content: "";
    z-index: -1;
    border-radius: 0% 0% 50% 50% / 0% 0% 7% 7%;
}
.breadcrumb_bg {
    background-image: url(../img/blogbg.JPG);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0% 0% 50% 50% / 0% 0% 7% 7%;
}

.breadcrumb .breadcrumb_iner {
    height: 400px;
    width: 100%;
    display: table;
}
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item {
    display: table-cell;
    vertical-align: middle;
}
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item h1 {
    color: #0f0f0f;
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 10px;
}
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item p {
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item p a {
    color: #0f0f0f;
}
.breadcrumb .breadcrumb_iner .breadcrumb_iner_item span {
    margin: 0px 5px;
    font-size: 12px;
}

/* blog_left_sidebar css */

.blog_item { margin-bottom: 50px; position: relative }
.blog_item .sub_menu_social_icon {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 1;
    background: #0f0f0f;
    padding: 8px 15px;
    border-radius: 5px;
}
.blog_item .sub_menu_social_icon a { font-size: 0}

.blog_item .sub_menu_social_icon a i {font-size:40px}

.blog_item_img { position: relative }

.blog_item_img .blog_item_date {
    position: absolute;
    bottom: -10px;
    left: 10px;
    display: block;
    background: #8ad0c6;
    color: #0f0f0f;
    padding: 8px 15px;
    font-weight: bold;
    border-radius: 5px;
}

.blog_item_img .blog_item_date h2 {
    font-weight: 600;
    color: #fff;
}

.blog_details {
    padding: 30px  20px;
    -webkit-box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
    -moz-box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
    -o-box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
    -ms-box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
    box-shadow: 0px 10px 20px 0px rgba(221, 221, 221, 0.3);
}

.blog_details h2 { font-weight: 700; margin-bottom: 8px;
    color: #ff4d42; }
.blog_details .desc h2,.blog_details .desc h3{font-size:25px;color:#ff4d42;margin:20px 0;font-weight:bolder}
.blog_details .desc ul{list-style:inside;margin:15px 0;font-weight:bold}
.blog_details .desc ul li {padding:10px 0}
.blog_details .desc b,.blog_details div strong{color:#ff4d42;margin-bottom:10px;display:inline-block;}
.blog_details .desc p{margin-bottom:30px}
.blog_details .desc dl {margin:15px 0;font-weight:bold;color:#ff4d42}
.blog_details .desc dd {font-weight:500;color:#000}
.blog_details .desc dt {margin-bottom:15px;}
em{margin-bottom:10px;display:inline-block;color:#ff4d42;font-weight:bold}

.blog-info-link li { float: left; font-size: 14px }

.blog-info-link li a { color: #999999 }

.blog-info-link li i,
.blog-info-link li span { font-size: 13px; margin-right: 5px }

.blog-info-link li:after {
    content: "|";
    padding-left: 10px;
    padding-right: 10px;
}

.blog-info-link li:last-child::after { display: none }

.blog-info-link:after {
    content: "";
    display: block;
    clear: both;
    display: table;
}

.pagination .page-link {
    margin: 0 5px;
    color: #0f0f0f;
}
.page-item:first-child .page-link {
    border-radius: 0;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
}
.page-item:last-child .page-link {
    border-radius: 0;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}
.page-item.active .page-link {
    background: #ff4d42;
    border-color: #ff4d42;
}

.faqs-area li{

    margin-bottom: 25px;

}
.faqs-area li h2{
    padding: 10px 15px;
    background: #8dd3cc;
    color: #0f0f0f;
    font-weight: bolder;
    border-radius: 15px 15px 0 0;
    font-size: 25px;
}

.faqs-area li div {
    color: #fff;
    font-weight: bolder;
    background: #ff4d42;
    padding: 10px 15px;
}


.ms-call-button,.ms-whats-button{position:fixed;bottom:14px;text-align:center;z-index:9999;left:20px;display:flex;outline:0;cursor:pointer}.ms-call-button{bottom:97px}.ms-call-button .ms-call-txt,.ms-whats-txt{box-shadow:0 8px 16px 0 rgba(0,0,0,.2),0 6px 20px 0 rgba(0,0,0,.19)}.ms-call-txt,.ms-whats-txt{padding:0 8px 0 20px;font-size:19px;font-weight:600;display:inline-block;background:#fff;color:#000;margin-left:-13px;line-height:35px;border-radius:10px;height:35px;margin-top:14px}.ms-call-txt{background:#ff4d42;color:#fff}.ms-call-button .ms-call-icon{animation:2s ease-in-out infinite callrotate}.ms-call-icon{display:inline-block;position:relative;width:65px;height:64px;text-align:center;border-radius:50%;background-color:#fff;box-shadow:1px 1px 6px 0 rgba(68,68,68,.705)}@keyframes callrotate{0%,100%,50%{-webkit-transform:rotate(0) scale(1) skew(1deg);transform:rotate(0) scale(1) skew(1deg)}10%,30%{-webkit-transform:rotate(-25deg) scale(1) skew(1deg);transform:rotate(-25deg) scale(1) skew(1deg)}20%,40%{-webkit-transform:rotate(25deg) scale(1) skew(1deg);transform:rotate(25deg) scale(1) skew(1deg)}}.ms-call-icon button{all:unset;font-size:0}.fixed-btn{font-size:0}.fixed-btn i{font-size:55px;line-height:64px}
